{% extends "base.html" %}

{% block title %}Change Password - GUIDE{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}"/>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Change Password</li>
{% endblock %}

{% block content %}
<div class="center-content">
  <nav class="nav justify-content-center">
    <a href="{{ url_for('index') }}" class="nav-link">&#171; Home</a>
  </nav>
  <form class="py-4 px-5 bg-dark rounded-2 mb-3" method="post">
    <h1 class="h3 mb-3 fw-normal text-center">Change Password</h1>
    <div class="form-floating">
      <input type="password" class="form-control" id="pass_old" name="pass_old" placeholder="Password" required>
      <label for="pass_old">Old password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="pass_new1" name="pass_new1" placeholder="Password" required>
      <label for="pass_new1">New password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="pass_new2" name="pass_new2" placeholder="Password" required>
      <label for="pass_new2">Re-enter new password</label>
    </div>
    
    <button class="w-100 btn btn-lg btn-primary my-3" type="submit">Change</button>
  </form>
  {% if success %}
  <div class="alert alert-success" role="alert">{{success}}</div>
  {% endif %}
  {% if error %}
  <div class="alert alert-danger" role="alert">{{error}}</div>
  {% endif %}
</div>
{% endblock %}