{% extends "base.html" %}

{% block title %}CJL: New - GUIDE{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('cjl') }}">CJL</a></li>
<li class="breadcrumb-item active" aria-current="page">Add</li>
{% endblock %}

{% block content %}
<div class="bg-dark-subtle rounded px-3 py-4 mt-4">
  {% if error %}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
  {% endif %}
  <form method="post">
    <div class="d-flex mb-3">
      <input class="form-control form-control-lg me-5" type="text" name="title" placeholder="Title" required>
      <div class="d-flex align-items-end gap-3 ms-auto">
        <a href="{{ url_for('cjl') }}" class="btn btn-danger" role="button">Cancel</a>
        <input type="submit" class="btn btn-success btn-lg" value="Create">
      </div>
    </div>
    <textarea class="form-control" name="body" cols="30" rows="28" placeholder="..."></textarea>
  </form>
</div>
{% endblock %}